<head>
  <style type="text/css">
  #query_results {
    width: 100%;
    border-collapse: collapse;
      font-size: 14px;
  }

  #query_results td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #query_results th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  </style>
</head>

<div>

<h1> Querying database : <%= @database_name %></h1>


<table id="query_results">
  <tr>
  <% @render_object.each_key do |key| %>
    <% if key == "Hyperlinks" %>
      <% next %>
    <% end %>
    <th><%= key %></th>
  <%end%>
  </tr>
  <tr>
  <% @render_object.each_key do |key| %>
    <% if key == "Hyperlinks" %>
      <% next %>
    <% end %>
    <% if @render_object.has_key? "Hyperlinks" and @render_object["Hyperlinks"].keys.include? key %>
      <td><a href=<%= @render_object["Hyperlinks"][key] %>><%= @render_object[key] %><a/></td>
    <%  else %>
      <td><%= @render_object[key]%></td>
    <%  end %>
  <%end%>
  </tr>
</table><br>



<div>
